.steps-nav {
    display: flex;
    gap: 20px;
    color: #c4c4c4;
    margin-bottom: 20px; /* 可以根据需要调整 */
}
.step {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center; /* 使文本居中显示 */
}
.step-label {
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 22.4px;
}
.step-bar {
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-top: 8px;
    height: 6px;
}

.active .step-label {
    color: #000;
    font-weight: 700;
}
.active .step-bar {
    background-color: rgba(255, 74, 74, 0.8);
}

#app {
    position: relative;
    padding: 20px 40px 20px 40px;
    width: 100%;
    overflow: visible;
}

#crown-holder {
    position: relative;  /* 新的定位上下文 */
    height: 0;  /* 不占用额外空间 */
    z-index: 10;  /* 确保在最前显示 */
}

.mask {
    overflow: hidden; /* 隐藏超出的内容 */
    width: 100%; /* 遮罩的宽度为视图的100% */
    position: relative; /* 相对定位 */
    display: flex;
    justify-content: center; /* 居中显示步骤 */
}

.steps-wrapper {
    display: flex;
    flex-direction: row; /* 确保步骤是横向排列的 */
    transition: transform 0.5s ease-in-out; /* 平滑过渡效果 */
    width: 100%; /* 假设有3个步骤，每个步骤占用100%的宽度 */
}

.step-container {
    width: 100%; /* 每个步骤容器占据视图的100% */
    display: flex; /* 使用flex布局 */
    flex-direction: row; /* 子元素垂直排列 */
    justify-content: space-between;

    flex-shrink: 0; /* 防止缩小 */
    min-height: 330px;
}
.previous-step, .next-step {
    position: absolute;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #E93E34;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    z-index: 1000;
    width: 150px;
    height: 40px;
}

.previous-step {
    left: 40px;
}

.next-step {
    right: 40px;
}

input[type=checkbox] {
    margin:3px 3px 3px 4px;
}

.input-box {
    border-radius: 16px;
    background-color: rgba(217, 217, 217, 0.2);
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
    white-space: nowrap;
    padding: 12px 13px;
    position: relative; /* 为了绝对定位内部的 label */
    width: 100%;
}

.input-label:focus {
    outline: none; /* 在聚焦时去除轮廓线 */
}

input::placeholder {
    color: #72787A;
    font-family: 'Lato', sans-serif;
}

.input-label{
    font-family: 'Lato', sans-serif;
    font-size: 16px; /* 示例字体大小 */
    font-weight: 400; /* 示例字体权重 */
    line-height: 1.5; /* 示例行高 */
    border: none; /* 去除边框 */
    background: none; /* 透明背景 */
    width: 100%; /* 输入框宽度填满容器 */
    position: relative;
}

.input-label {

}

.input-area {
    flex: 1; /* 输入区域占据剩余空间 */
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-top:20px;
}

.bg-img {
    width: 100%; /* 图片宽度充满容器 */
    height: auto; /* 高度自适应，保持原有宽高比 */
    object-fit: cover; /* 覆盖填充整个元素框 */
}

.right-bg-pic {
    width: 40%; /* 图片占据40%的宽度 */
    height: auto; /* 高度自适应 */
    padding-left: 20px; /* 与输入区域间隔20px */
    display:block;

}

.title {
    margin-top: 40px;
    font: 700 30px Lato, sans-serif;
    margin-bottom: 10px;
}

.img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 36px;
}

.pika-label {
    color: #AD0000;
}

.pika-table th {
    color: #AD0000 !important; /* 红色 */
}

.pika-button.pika-day.is-today {
    color: white;
    background-color: #AD0000;
}

.pika-button.pika-day:hover {
    color: white;
    background-color: #AD0000;
}

.pika-button.pika-day.is-selected {
    color: white;
    background-color: #AD0000;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-8px); }
    20%, 40%, 60%, 80% { transform: translateX(8px); }
}

.subtitle {
    font: 700 20px Lato, sans-serif;
    line-height: 28px;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
}

.subtitle-wrapper {
    display: flex;
    margin-top: 10px;
    gap: 25px;
    white-space: nowrap;
}

.scroll-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.service-selection {
    margin-top: 10px;
    display: flex;
    flex-direction: column; /* 将方向设置为列，使得详情文本位于复选框和标签下方 */
    align-items: flex-start; /* 对齐到起始边，确保文本对齐 */
    margin-left: 40px;
}

.checkbox-label-container {
    display: flex;
    align-items: center; /* 垂直居中对齐复选框和标签 */
}

.service-detail {
    padding-left: 22px; /* 根据复选框的实际宽度调整，使详情文本与标签对齐 */
    font-size: 14px; /* 字体大小调整，可根据需要更改 */
    line-height: 19.6px;
    font-family: 'Lato', sans-serif;
}

.service-name {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    margin: 0 0 0 0;
}

/* 容器和卡片的基本布局 */
.dental-plan-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    border-radius: 8px; /* 四个角有弧度 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 轻微的阴影效果 */
    position: relative;
}

/* 第一张卡片的特殊样式 */
.first-card {
    background-color: rgba(255, 74, 74, 0.8); /* 背景颜色 */
    color: white; /* 字体颜色 */
}

/* 除第一张外的卡片样式 */
.dental-plan-card:not(.first-card) {
    background-color: white; /* 背景颜色 */
    color: #333333; /* 字体颜色 */
    border: 2px solid #ff4a4a; /* 设置边框为红色 */
}

/* 卡片详情和内容布局 */
.dental-plan-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.dental-plan-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* 标题颜色调整 */
.dental-plan-title, .dental-plan-subtitle {
    margin: 0;
    color: #333333; /* 默认颜色为黑色 */
    font-family: 'Lato', sans-serif;
}

.dental-plan-title {
    font-size: 24px;
    line-height: 26.4px;
}

dental-plan-subtitle {
    font-size: 20px;
    line-height: 22px;
}

/* 第一张卡片标题为白色 */
.first-card .dental-plan-title, .first-card .dental-plan-subtitle {
    color: white; /* 第一张卡片标题颜色为白色 */
}

/* 非第一张卡片标题为红色 */
.dental-plan-card:not(.first-card) .dental-plan-title,
.dental-plan-card:not(.first-card) .dental-plan-subtitle {
    color: #ff4a4a; /* 非第一张卡片的标题颜色为红色 */
}

/* 特征列表的布局 */
.dental-plan-feature {
    display: flex;
    align-items: center;
    margin-bottom: 3px; /* 特征间的行间距更小 */
}

.checkmark-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* 圆形图标 */
    margin-right: 10px;
    position: relative;
    background-color: #000; /* 背景色为黑色 */
    border: 2px solid transparent; /* 默认没有边框 */
    display: flex; /* 使用flex布局 */
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
}

.checkmark-circle p {
    color: white; /* 设置对勾颜色为白色 */
    margin: 0; /* 去除默认的外边距 */
    font-size: 15px; /* 可以调整字体大小以适应圆形大小 */
}

.first-card .checkmark-circle {
    background-color: transparent; /* 第一张卡片背景透明 */
    border: 2px solid white; /* 第一张卡片边框为白色 */
}

.dental-plan-feature-text {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 0px;
    margin: 0 0 0 0;
}

/* 价格和按钮的布局 */
.dental-plan-pricing {
    display: flex;
    align-items: baseline;
}

.dental-plan-price {
    font-size: 24px;
    margin: 0 5px;
}

.dental-plan-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0 0 0;
    background: transparent;
}

.dental-plan-cta {
    text-align: right;
}

.dental-plan-enroll-button {
    padding: 10px 20px;
    background-color: white; /* 按钮颜色 */
    color: #333333;
    border: 2px solid #ff4a4a;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto; /* 左边距自动，使其靠右对齐 */
    margin-right: 0; /* 右边距为0 */
    width: 321px;
}

/* 皇冠图标样式 */
.crown-icon {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    z-index: 1000;
    transform: rotate(45deg);
    transform-origin: center center;
}

.error-popup {
    display: flex;
    align-items: center; /* 确保垂直居中对齐 */
    justify-content: flex-start; /* 内容靠左对齐 */
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 453px;
    height: 52px;
    background-color: #E93E34;
    color: white;
    border-radius: 4px;
    z-index: 1000;
}

.error-icon {
    margin-right: 10px; /* 图标和文本之间的间距 */
    flex-shrink: 0; /* 防止图标在容器缩小时被压缩 */
}
